*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --openSans: 'Open Sans', sans-serif;
    --monstree: 'Montserrat', sans-serif;
    --green: rgb(20,191,152);
    --textColor: rgba(99, 95, 98, 0.8);
}
.container{
    width: 100%;
    height: 1000vh;
}
/* ----------------navbar---------------- */
nav{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17,52,72);
    padding: 0.7% 6%;
    position: fixed;
    z-index: 30;
}
.logo{
    width: 110px;
    /* border: 2px solid yellow; */
}
.link-container{
    width: 54%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid lightgray; */
}
.link-list{
    width: 85%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
    list-style-type: none;
    font-family: var(--openSans);
    font-weight: 600;
    font-size: 14px;
    margin-right: 0.5rem;

}
.link > a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--green);
}
.facebook i, .twitter i, .logo i{
    background-color: var(--green);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 28px;
    height: 25px;
    padding-top: 28%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.facebook i:hover,.twitter i:hover,.logo i:hover{
    background-color: white;
    color: var(--green);
}

.bars i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
@media only screen and (min-width: 1100px){
    .bars i{
        display: none;
    }
}
@media only screen and (max-width: 1100px){
    .link, .facebook, .twitter{
        display: none;
    }
    .nav{
        overflow: hidden;
    }
}

/* ---------------------home------------------- */
.home{
    width: 100%;
    height: 900px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(./bg_files/about.jpg);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.heading{
    font-family: var(--monstree);
    color: white;
    font-size: 56px;
    font-weight: 700;
    margin-right: 1rem;
}
.heading:after {
	content: "SERVICES";
	animation-name: replacement;
	animation-duration: 3s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes replacement {
	0% {
		opacity: 1;
	}
    50%{
        opacity: 1;
        content: "SOLUTION";
    }

	100% {
		opacity: 1;
		content: "TEMPLATE";
	}
}
.head > p{
    font-size: 18px;
    font-family: var(--openSans);
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}
.head > button{
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 16px 36px;
    font-family: var(--monstree);
    font-weight: 800;
    font-size: 12px;
    cursor: pointer;
    margin-top: 30px;
    border: 2px solid var(--green);
}

.head > button:hover{
    background-color: transparent;
    color: var(--green);
}
@media only screen and (max-width: 1303px){
    .heading{
        text-align: center;
    }
}
/* -----------------------intro------------------------ */
.intro{
    width: 100%;
    /* height: 100vh; */
    padding: 8% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
.text{
    /* border: 2px solid red; */
    width: 36%;  
}
.text > h1, .text > h5, .text > h3{
    font-family: var(--monstree);
}
.text > h5{
    font-size: 13px;
    font-weight: 600;
    line-height: 2.5rem; 
    color: var(--green);   
}
.text > h1{
    font-size: 28px;
    color: rgb(72,74,70);
}
.p1, .p2{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    color:var(--textColor);
}
.p2{
    font-style: italic;
}
.text > h3{
    color: rgb(72,74,70);
    font-size: 16px;
}
.image{
    overflow: hidden;
    /* border: 2px solid red; */
    width: 55%;
    border-radius: 5px;
    
}
.image > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: ease-in-out 0.50s;
}
.image > img:hover{
    transform: scale(1.2);
}
.intro-card{
    width: 100%;
    padding: 0 8%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intro-card1{
    /* border: 2px solid blue; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hex > i{
    text-align: center;
    position: absolute;
    z-index: 5;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
    color: white;
}
.hex {
    position: relative;
    width: 50px;
    height: 81.93px;
    border-radius: 6px/6px;
    background: var(--green);
    margin-left: 30px;
    margin-bottom: 20px;
}
  
.hex:before,
.hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}
  
.hex:before {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
  
.hex:after {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.intro-para > h4{
    font-family: var(--monstree);
    font-weight: 700;
    font-size: 20px;
    color: rgb(72,74,70);
    /* margin-bottom: 10px; */
}

.intro-para > p{
    font-family: var(--openSans);
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    color:var(--textColor);
}
@media only screen and (max-width: 1000px){
    .text{
        width: 100%;  
    }
    .image{
        margin-top: 5%;
        width: 100%;        
    }
    .intro-card{
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .intro-card1{
        /* border: 2px solid blue; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro-card1 > .intro-para > h4, .intro-card1 > .intro-para > p{
        text-align: center;
        margin-bottom: 10px;
    }
}

/* ----------------------services------------------------ */
.service-sec1{
    width: 100%;
    margin-top: 10%;
    padding: 6% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251,251,251);
    /* border: 2px solid red; */
}

.service-sec1 > h1, .service-sec1 > p{
    width: 35%;
    text-align: center;
    /* border: 2px solid red; */
    padding: 6px;
    font-family: var(--monstree);
    color: rgb(72,74,70);
    font-size: 28px;
}
.service-sec1 > p{
    font-weight: 600;
    color: var(--green);
    font-size: 12px;
}
/* card section:- */
.cards{
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    padding: 4%;
}
.service-card1{
    width: 28%;
    /* height: 34rem; */
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.service-card1 > img{
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.service-card1 > h2{
    font-family: var(--monstree);
    color: rgb(72,74,70);
    width: 80%;
    text-align: center;
    padding: 8% 3%;
    font-size: 22px;
}
.service-card1 > p{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    color:var(--textColor);
    width: 76%;
    text-align: center;
    margin-bottom: 6%;
}
.service-card1 > ul{
    width: 100%;
    text-align: center;
    list-style: none;
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    color:var(--textColor);
    margin-bottom: 6%;
}
.service-card1 > ul > li{
    margin-bottom: 10px;
    text-indent: 1rem;
}
.service-card1 > ul > li::before {
    content:  "■ ";
    color: var(--green); 
}
.service-card1 > h4{
    font-family: var(--monstree);
    color: rgb(72,74,70);
    margin-bottom: 6%;    
}
.service-card1 > h4 > span{
    font-family: var(--monstree);
    color:var(--green);    
}
.service-card1 > button{
    padding: 4% 9%;
    font-family: var(--monstree);
    font-weight: 800;
    font-size: 12px;
    border: 2px solid var(--green);
    border-radius: 5px;
    background-color: var(--green);
    color: white;
    position: absolute;
    bottom: -1.5rem;
}
.service-card1 > button:hover{
    background-color: white;
    color: var(--green);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.service-sec2{
    width: 100%;
}
/* Division Section:-  */
.big-card1, .big-card2{
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    background-color: white;
}
.service-image1, .service-image2{
    /* border: 2px solid rgb(0, 0, 0); */
    width: 50%;
    height: 80vh;
    background-image: url("./bg_files/bigcard1.jpg");
    background-size: cover;
    background-position: center;
    display: block;
}
.service-content1{
    /* border: 2px solid yellow; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.service-content1 > .content{
    /* border: 2px solid black; */
    width: 67%;
}
.service-content1 > .content > h1{
    font-size: 28px;
    font-family: var(--monstree);
    color: rgb(72,74,70);
    line-height: 34px;
    margin: 3% 0;
}
.service-content1 > .content > ol > li{
    font-family: var(--monstree);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(72,74,70, 0.9);
    list-style: none;
    padding: 4%;
}
.service-content1 > .content > ol > li > span{
    border: 2px solid rgb(72,74,70);
    border-radius: 50%;
    padding: 1.5% 3%;
    margin-right: 1rem;
}
.service-content1 > .content > ol > li > #a{
    padding: 1% 3%;
}
.service-content1 > .content > ol > li:hover {
    color:var(--green);
}
.service-content1 > .content > ol > li > span:hover{
    border: 2px solid var(--green);
}
.service-image2{
    background-image: url("./bg_files/bigcard2.jpg");
}
.service-content2{
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-content2 > .content{
    width: 70%;
}
.heads{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    width:85%;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.business, .expert, .quality{
    font-weight: 700;
    font-size: 20px;
    font-family: var(--monstree);
    color: var(--green);
    cursor: pointer;
}
.expert, .quality{
    color: rgb(193,202,206);
}
.expert:hover, .quality:hover{
    color: var(--green);
}
.service-content2 >.content > .para > h2{
    font-size: 20px;
    line-height: 26px;
    font-family: var(--monstree);
    color: rgb(72,74,70);   
}
.service-content2 >.content > .para > p{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    color:var(--textColor);
    margin: 3% 0;
}
.service-content2 >.content > .para > p > span{
    text-decoration: underline;
    color: var(--green);
    cursor: pointer;
}
.bar1, .bar2, .bar3 > h4{
    font-family: var(--openSans);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgb(72,74,70);
    margin-bottom: 10px;
    padding: 2% 0 0 0;
}
.bar1 > hr{
    height: 20px;
    background-color: var(--green);
    border: none;
    border-radius: 2px;
}
.bar2 > hr{
    height: 20px;
    width: 76%;
    background-color: var(--green);
    border: none;
    border-radius: 2px;
}
.bar3 > hr{
    height: 20px;
    width: 90%;
    background-color: var(--green);
    border: none;
    border-radius: 2px;
}
.service-sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}
.service-sec3 > h1{
    text-align: center;
    margin-top: 8%;
    font-size: 28px;
    font-family: var(--monstree);
    color: rgb(72,74,70);
    /* border: 2px solid green; */
}
.service-sec3 > p{
    text-align: center;
    font-size: 16px;
    font-family: var(--openSans);
    color: var(--textColor);
    width: 45%;
    padding: 1%;
    line-height: 1.5rem;
    /* border: 2px solid yellow; */
}
.testimonials{
    /* border: 2px solid blue; */
    width: 70%;
    height: 350px;
    margin: 5% 0;
    display: flex;
    gap: 50px;
    overflow-x: scroll;
    
}
.testimonials > .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid rosybrown; */
    width: 30%;
    flex-shrink: 0;
}
.testimonials > .card1 > img{
    /* border: 2px solid lightcoral; */
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 5% 0;
}
.testimonials > .card1 > p{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    color:var(--textColor);
    margin: 4% 0;
    padding: 1%;
    /* border: 2px solid lightcoral; */
    text-align: center;
    font-style: italic;
    
}
.testimonials > .card1 > h5{
    font-family: var(--monstree);
    font-size: 16px;
    color: rgb(72,74,70);
}

@media only screen and (max-width: 1000px){
    .service-card1{
        margin-bottom: 8%;
        width: 80%;
    }
    .cards{
        width: 100%;
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service-card1 > button{
        padding: 2% 7%;
    }
    .service-image1, .service-image2{
        width: 100%;
    }
    .big-card1, .big-card2{
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
    }
    .service-content1, .service-content2{
        width: 100%;
        margin: 5%;
    }
    .testimonials > .card1 {
        width: 100%;
    }
}

/* ----------------call me------------------- */
.call-me{
    width: 100%;
    background-color: rgb(21,62,82);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.sec{
    /* border: 2px solid lime; */
    padding: 0 7%;
    display: flex;
    justify-content: space-around;
}
.sec > .content{
    /* border: 2px solid yellow; */
    width: 39%;
}
.sec > .content > h6{
    font-family: var(--monstree);
    font-size: 13px;
    font-weight: 600;
    color: var(--green);
    padding: 3% 0;
}
.sec > .content > h1{
    font-family: var(--monstree);
    font-size: 28px;
    color: white;
}
.sec > .content > p, .sec > .content > ul{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    color:rgba(255, 255, 255, 0.8);
    padding: 3% 0;
}
.sec > .content > ul > li{
    list-style: none;
    padding: 1%;
}
.sec > .content > ul > li:before{
    content: '\25a0';
    color: var(--green);
    margin-right: 5px;
    font-size: 1.25rem;
}

/* form section:-  */
.forms{
    /* border: 2px solid yellow; */
    width: 45%;
    padding: 5% 0;
}
.sec > .forms > form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 2px solid yellow; */
}
.sec > .forms > form > select{
    background-color: rgb(42,93,119);
    border: none;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    cursor: text;
    font-size: 14px;
}
.sec >  .forms > form > .name{
    position: relative;
}
.sec > .forms > form > .name > input{
    background-color: rgb(42,93,119);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    cursor: text;
    width: 100%;
    outline: none;
    color: white;
    font-size: 16px;
}
.sec > .forms > form > .name > label{
    position: absolute;
    z-index: 3;
    left: 4%;
    top: 25%;
    color: white;
    font-family: var(--openSans);
    font-size: 14px;
}
.sec > .forms > form > .name > input:focus~label{
    top: 6%;
    font-size: 12px;
    transition: 0.3s ease-in-out;
}
/* .sec > .forms > form > .name > input:valid~label{
    top: 6%;
    font-size: 12px;
} */
.sec > .forms > form > .name:hover, .sec > .forms > form > select:hover{
    border: 1px solid white;
    border-radius: 5px;
}
.checkbox{
    display: flex;
    gap: 1rem;
}
.checkbox > label, .checkbox > span{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.checkbox > label > span{
    text-decoration: underline;
}
form > .call-button{
    color: white;
    background-color: var(--green);
    border: 2px solid var(--green);
    border-radius: 5px;
    font-weight: 700;
    padding: 3%;
    font-family: var(--monstree);
}

form > .call-button:hover{
    cursor: pointer;
    color: var(--green);
    background-color: transparent;
}
@media only screen and (max-width: 1000px){
    .sec{
        flex-direction: column;
    }
    .sec > .content{
        width: 100%;
    }
    .forms{
        width: 100%;
    }
}


/* ----------------projects------------------- */
.projects{
padding: 5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.projects > span, .projects > h3{
display: block;
text-align: center;
font-family: var(--monstree);
}

.projects > span{
/* margin-bottom: 10px; */
font-weight: 600;
color: var(--green);
}

.projects > h3{
color: rgb(72,74,70);
font-size: 1.75rem;
}

.projects .cotegory-list-container ul{
display: flex;
flex-direction: row;
gap: 1rem;
padding: 3rem 0;
list-style-type: none;
align-items: center;
justify-content: center;
margin: 0;
flex-wrap: wrap;
}

.projects .cotegory-list-container ul button{
background-color: rgb(241,244,247);
color: rgb(123,126,133);
padding: 0.5rem 1.5rem;
border-radius: 5px;
font-family: var(--monstree);
font-weight: 600;
border: none;
}

.projects .cotegory-list-container ul .child1 button{
background-color: var(--green);
color: white;
}

.projects .cotegory-list-container ul button:hover{
    background-color: var(--green);
    color: white;
}
.projects > .project-image{
    /* border: 2px solid red; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}
.projects > .project-image > .item{
    overflow: hidden;
}
.projects > .project-image > .item > img:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    filter: brightness(60%);
}
.consultants{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
}
.consultants > h4{
    text-align: center;
    font-family: var(--monstree);
    color: rgb(72,74,70);
    font-size: 28px;
}
.consultants > p{
    width: 60%;
    color: var(--textColor);
    font-family: var(--openSans);
    font-size: 16px;
    text-align: center;
    padding: 1rem 0;
}
.consultants > .team-card{
    width: 100%;
    margin: 3rem 0;
    display: flex;
}
.team-image{
    overflow: hidden;
}
.team-image > img:hover{
    transform: scale(1.16);
    transition: 0.5s ease-in-out;
}

.team-card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid teal; */
    width: 25%;
}
.team-card1 > p{
    font-family: var(--openSans);
    font-size: 18px;
    color: var(--textColor);
}
.team-card1 > h4{
    font-family: var(--monstree);
    font-size: 16px;
    color: rgb(72,74,70);
    font-weight: 700;
    line-height: 28px;
}
.logo i{
    padding-top: 6%;
    width: 30px;
    cursor: pointer;
}
.logo{
    /* border: 2px solid yellow; */
    width: 50%;
    margin-left: 20%;

}

@media only screen and (max-width: 770px){
    .projects > .project-image{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 1000px){
    .team-card{
        flex-direction: column;
    }
    .team-card1{
        width: 100%;
        margin-bottom: 5%;
    }
    .logo i{
        display: none; 
    }
}

 /* ----------------------About-------------------------- */

.about{
width: 100%;
/* border: 2px solid red; */
background-color: white;
display: flex;
justify-content:space-around;
padding: 8%;
}
.about > img{
    width: 50%;
  border-radius: 5px;
}
.about > .paragraph > h5{
    font-family: var(--monstree);
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: var(--green);
}
.about > .paragraph > h1{
    font-family: var(--monstree);
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: rgb(72,74,70);
}
.about > .paragraph > p{
    font-family: var(--openSans);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--textColor);
}
.about > .paragraph > ul > li{
    list-style: none;
    padding: 1%;
    font-family: var(--openSans);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--textColor);
}
.about > .paragraph > ul > li:before{
    content: '\25a0';
    color: var(--green);
    margin-right: 5px;
    font-size: 1.25rem;
}
.paragraph{
    /* border: 2px solid blue;  */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.number{
    /* border: 2px solid limegreen; */
    display: flex;

}
.about > .paragraph > .number > .num {
    display: flex;
    font-family: var(--openSans);
    font-size: 14px;
    font-weight: 500;
    color: var(--textColor);
}
.about > .paragraph > .number > .num > #no{
    font-family: var(--monstree);
    font-size: 48px;
    line-height: 34px;
    font-weight: 700;
    color: var(--green);
    /* border: 2px solid green; */
}
@media only screen and (max-width: 1000px){
    .about{
        flex-direction: column;
    }
    .about > img{
        width: 100%;
        display: block;
    }
    .paragraph{
        width: 100%;
        margin: 5% 0;
    }
    .number{
        margin: 3% 0;
        width: 60%;
    }
}
/* -----------------contact--------------------- */

.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251,251,251);
    /* border: 2px solid green; */
    padding: 7% 0;
}
.sub-contact{
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.contact-details{
    width: 50%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact > .sub-contact > .contact-details > h5{
    font-family: var(--monstree);
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: var(--green);
}
.contact > .sub-contact > .contact-details > h1{
    font-family: var(--monstree);
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: rgb(72,74,70);
}
.contact > .sub-contact > .contact-details > p{
    font-family: var(--openSans);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--textColor);
}
.add > i{
    color: var(--green);
}
.info > i{
    color: var(--green);
}
.contact > .sub-contact > .contact-details > .info > span{
    font-family: var(--openSans);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--textColor);
    text-decoration: underline;
    margin-right: 5%;
}
.contact > .sub-contact > .contact-details > .add > span{
    font-family: var(--openSans);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--textColor);
}
.contact > .sub-contact > .contact-details > h3{
    font-family: var(--monstree);
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    color: rgb(72,74,70);
    margin-bottom: 0;
}
.contact > .fa-stack{
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
    margin-left: 4rem;
    width: 3.25rem;
    height: 3.25rem;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    
}

.contact .sub-contact .fa-stack .hexagon {
    position: absolute;
    width: 3.25rem;
    height: 3.25rem;
    background: url("./bg_files/hexagon-green.svg") center center no-repeat;
    background-size: 3.25rem 3.25rem;
    
    /* border: 2px solid red; */
    
}
.contact .fa-stack:hover .hexagon {
    background: url("./bg_files/hexagon-white.svg") center center no-repeat;
    background-size: 1.75rem 1.75rem;
    
    transition: all 0.2s ease;
}

.contact .fa-stack-1x {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-left: 5px;
    color: #fff;
    transition: all 0.2s ease;
}
.contact .fa-stack:hover .fa-stack-1x {
    color: #14bf98
}
.stack{
    width: 65%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.contact .contact-form{
    /* border: 2px solid green; */
    width: 45%;
}
.checkboxs{
    display: flex;
    gap: 1rem;
}
.checkboxs > label, .checkboxs > span{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 14px;
    color: var(--textColor);
    cursor: pointer;
}
.underline{
    text-decoration: underline;
}
.contact > .sub-contact > .contact-form > form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 2px solid yellow; */
}
.contact > .sub-contact > .contact-form > form > .name{
    position: relative;
}
.contact > .sub-contact > .contact-form > form > .name > input{
    background-color: white;
    border: 1px solid rgba(99, 95, 98, 0.3);
    padding: 1rem 1.5rem;
    border-radius: 3px;
    cursor: text;
    width: 100%;
    outline: none;
    color: rgb(72,74,70);
    font-size: 16px;
}
.contact > .sub-contact > .contact-form > form > .name > label{
    position: absolute;
    z-index: 3;
    left: 4%;
    top: 25%;
    color: rgb(72,74,70);
    font-family: var(--openSans);
    font-size: 14px;
}
.contact > .sub-contact > .contact-form > form > .name > input:focus~label, .contact > .sub-contact > .contact-form > form > .name > textarea:focus~label{
    top: 6%;
    font-size: 12px;
    transition: 0.3s ease-in-out;
}
.contact > .sub-contact > .contact-form > form > .name > textarea{
    width: 100%;
    height: 7rem;
    border: 1px solid rgba(99, 95, 98, 0.3);
    padding: 1rem 1.5rem;
    border-radius: 3px;
    cursor: text;
}
.contact > .sub-contact > .contact-form > form > .name > textarea:hover, .contact > .sub-contact > .contact-form > form > .name > input:hover{
    border: 1px solid rgba(99, 95, 98, 1);
}
.contact > .sub-contact > .contact-form > form > .form-button{
    color: white;
    background-color: var(--green);
    border: 2px solid var(--green);
    border-radius: 5px;
    font-weight: 700;
    padding: 3%;
    font-family: var(--monstree);
}

.contact > .sub-contact > .contact-form > form > .form-button:hover{
    cursor: pointer;
    color: var(--green);
    background-color: transparent;
}

@media only screen and (max-width: 1000px){
    .sub-contact{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .contact-details{
        width: 100%;
    }
    .contact > .sub-contact > .contact-form > form{
        margin-top: 20%;
    }
    .contact .contact-form{
        width: 100%;
    }
}

/* -----------------------footer-------------------- */
footer{
    position: relative;
}
.copyright{
    position: absolute;
    left: 35%;
    bottom:5%;
    font-size: 14px;
    font-family: var(--openSans);
    font-weight: 400;
    color: white;
}

.footer{
    width: 100%;
    /* height: 350px; */
    background-color: rgb(17,52,72);
    padding: 5% 5%;
    display: flex;
    justify-content: center;
}
.last-sec{
    width: 90%;
    height: 100%;
    /* border: 2px solid lawngreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
footer .last-sec h1{
    font-size: 20px;
    font-family: var(--monstree);
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}
footer .last-sec .part1 p{
    font-size: 14px;
    font-family: var(--openSans);
    font-weight: 400;
    color: white;
}
footer .last-sec .part1{
    width: 45%;
    /* border: 2px solid palegreen;     */
}
footer .last-sec .part2 a{
    font-size: 14px;
    font-family: var(--openSans);
    font-weight: 400;
    color: white;
    /* border: 2px solid lawngreen;*/
}
@media only screen and (max-width: 770px){
    .last-sec{
        flex-direction: column;
        align-items:flex-start;  
    }
    footer .last-sec h1{
        margin: 20% 0;
    }
}